/* ------------------
    All body styles
--------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0 ;
}

/* ------------------
    Top header styles
--------------------- */
.container{
    margin-bottom: 100px;
    margin: 0 80px;
}
.top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.top-item{
    display: flex;
    align-items: center;
}
.top-info{
    margin-right: 200px;
}
.top-info a{
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 41px;
}
.top-info i{
    margin-left: 10px;
}
.top-title{
    font-size: 36px;
    font-weight: 700;
}
.top-item img{
    width: 440px;
    height: 414px;
    border: 2px solid #F1E4FF;
    border-radius: 50%;
    padding: 10px;
}
/* ------------------
    Popular Collection section styles
--------------------- */
.collection-intro{
    text-align: center;
}
.products{
    background-color: rgb(236, 236, 236);
    padding:30px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product{
    height: 490px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image{
    width: 300px;
    height: 256px;
    display: flex;
    justify-content: center;
}
.product-info{
    margin-top: -10px;
    color: #FB8200;
}
.product-discription{
    width: 250px;
    margin-top: -2px;
}
.see-button {
    margin-top: 10px;
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
    display: block;
    text-align: end;
}
.see-button>i{
    margin-left: 10px;
}
/* ------------------
    Footer styles
--------------------- */
.footer{
    background-color: #0A0826;
    color: white;
    text-align: center;
    padding: 30px 30px;
    font-family: 'Times New Roman', Times, serif;
}
.fab{
    margin: 0 10px;
}

/* ------------------
    Media Querys
--------------------- */

/* Mobile Divices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
        margin: 0 20px;
    }
    .top-section{
        width: 100%;
        display: block;
    }
    .top-info{
        margin: 20px;
    }
    .top-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-item img{
        width: 100%;
        height: 100%;
    }
    .top-title{
        font-size: 24px;
        font-weight: 700;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }
}